body 
{
    margin: 0;
    padding: 0;

    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 24px;

    background-color: #ffffff;
}

a 
{
    text-decoration: none;
}

img 
{
  max-width: 100%;
  height: auto;
}

.visually-hidden 
{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.main-header 
{
    background-color: #293449;
    margin-bottom: 60px;
}

.header-logo 
{
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
    width: 220px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo:hover 
{
background-color: #ca2c37;
border-bottom: 5px solid #9a212a;
}

.header-logo:focus 
{
background-color: #8e1e26;
}

.top-header 
 {
    width: 940px;
    margin: 0 auto;
    display: flex;
    height: 42px;
    justify-content: space-between;
 }

.top-header a 
{
    color: #ffffff;
}
.search 
{
    position: relative;
}

.search input 
{
    background-color: inherit;
    border: none;
    color: #ffff;
    width: 270px;
    height: 42px;
    margin-left: 0px;
}

.btn-search 
{
    position: absolute;
    top: 12px;
    left: 17px;
    background-color: transparent;
    border: none;
} 

.btn-search path 
{
    opacity: 0.3;
}

.search input::placeholder 
{
    color: #ffff;
    padding-left: 50px;
}

.search input:hover 
{
    background-color: #212a3a;
}

.search input:hover ~ .btn-search path
{
    opacity: 1;
}

.search input:focus 
{
    background-color: #ffffff;
    color: #262626;
}

.search input:focus ~ .btn-search path

{
    fill: #ee3643;
    opacity: 1;
}



.header-items 
 {  
    display: flex;
    width: 300px;
    height: 42px;
    margin-left: 0px;
 }


.header-items a
{
    color: #e0e1e3;
    width: 150px;
    height: 42px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-items a:hover 
{
    color: #dfe0e1;
}

.header-items a:focus 
{
    background-color: #161d29;
}

.btn-checkout 
{
    background-color: #63a63e;
    width: 150px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.btn-checkout:hover 
{
    background-color: #5fbb2d;
}

.btn-checkout:focus 
{
    background-color: #518534;
}
.header-information-wrapper 
{
    width: 940px;
    display: flex;
    justify-content: space-between;
}

.header-information 
{
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    margin-left: 55px;
}
.phone-number 
{
    border: 3px solid #ffffff;
    font-size: 21px;
    width: 265px;
    height: 40px;
    margin-left: 70px;
}

.address 
{
    color: #32425c;
    font-size: 14px;
    margin-left: 80px;
    margin-top: -15px;
}


.header-btn 
 {
    display: flex;
 }

.header-btn a
{
    background-color: #ffffff;
    color: #000000;
    font-size: 21px;
    height: 45px;
    text-align: center;
}

.header-btn .sign-in 
 {
    width: 120px;
    margin-left: 70px;
 }

  .header-btn .sign-up 
 {
    width: 150px;
    margin-left: 10px;
 }

.header-btn a:hover
{
    color: #ee3643;
}

.header-btn a:focus
{
    color: #dadada;
}

.middle-header 
{
    background-color: #f3f7f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 280px;
}

.middle-header nav 
{
    background-color: #32425c;
}

.middle-header li
{
    list-style: none;
}

.navigation 
 {
    margin: 0 auto;
    margin-bottom: 60px;
    border-bottom: 5px solid #293449;
    width: 940px;
    height: 55px;
 }

 .site-navigation 
 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 }


.site-navigation a 
{
    display: block;
    width: 126px;
    height: 60px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    margin: 0; 
}



.container 
 {
    display: flex;
    justify-content: space-between;
 }

 .information-about-company 
 {
    width: 540px;
    height: 380px;
    margin-left: 130px;
 }

 .main-contacts 
 {
    width: 300px;
    height: 375px;
    margin-right: 130px;
 }

 .breadcrumbs 
 {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
 }

 .wrapper-main 
 {
    width: 940px;
    margin: 0 auto;
 }

 .btn-about-company 
{
    width: 220px;
}

.btn-write-us 
{
   width: 300px;
   height: 38px;
}

.title-company 
{
    font-size: 30px;
}

.title-contact 
{
    font-size: 30px;
}

.text-wrapper 
{
    font-family: 'PT Sans', sans-serif;
}

.text-about-map 
{
    font-family: 'PT Sans', sans-serif;
}



.btn-inf 
{
    background-color: #ee3643;
    color: #ffff;
    border-radius: 2px;
    border: none;
    display: flex;
    height: 38px;
    text-transform: uppercase;
}
.btn-inf:hover 
{
    background-color: #ca2c37;
}

.btn-inf:focus 
{
    background-color: #ba2732;
}

.main-footer 
{
    background-color: #32425c;
    color: #ffff;
    margin-top: 85px;
    min-height: 300px;
}

.footer-wrapper 
{
    display: flex;
    flex-direction: column;
}

.footer-logo 
{
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
    height: 63px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.bottom-footer 
{
    background-color: #293449;
    min-height: 110px;
    display: flex;
    justify-content: space-around;
}
.main-footer li 
{
    list-style: none;
}

.top-footer 
{
    min-height: 190px;
    display: flex;
    justify-content: space-around;
}

.wrapper-lists 
{
    display: flex;
    flex-direction: column;
}

.information-lists 
{
    display: flex;
    flex-direction: row;
}

.information-lists a
{
    margin-right: 60px;
}

.top-footer a
{
    color: #ffff;
}

.top-footer a:focus 
{
    color: #a4abb4;
    text-decoration: none;
}

.soc-net
{
    display: flex;
} 

.soc-net li 
{
    margin-right: 5px;
}

.soc-net a 
{
    color: #ffff;
}

.soc-net a:hover 
{
    color: #ee3643;
}

.soc-net a:focus 
{
    color: #ee3643;
}

.catalog-lists a 
{
    margin-right: 60px;
}

.catalog-lists 
{
    display: flex;
    flex-direction: row;
}

.catalog-lists a,
.connection-link 
{
    color: #ffd180;
}

footer a:hover 
{
    text-decoration: underline;
}

.catalog-lists a:focus 
{
    color: #99866b;
    text-decoration: none;
}
.connection-link:focus  
{
    color: #ee3643;
}

.popup-map 
{
    display: none;
}

.popup-write-us
{
    display: none;
}

.middle-header .name 
{
    color: #000000;
    font-size: 21px;
    background-color: #ffffff;
}

.register .my-order,
.register .personal-area 
{
    text-decoration: underline;
    color: #32425c;
}

.register .my-order:hover,
.register .personal-area:hover
{
    color: #ee3643;
}

.register .my-order:focus,
.register .personal-area:focus 
{
    color: #c5cad0;
}

.breadcrumbs li 
{
    list-style: none;
}
.breadcrumbs a 
{
    color: #000000;
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
}

.title-wrapper 
{
    background-color: #f2f6f8;
    width: 940px;
    height: 89px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
}

.main-title 
{
    color: #32425c;
    text-transform: uppercase;
    font-size: 30px;
}

.filter fieldset 
{
    border: none;
}

.filter legend 
{
    color: #000000;
    font-weight: bold;
}

.filter ul 
{
   list-style: none;
   line-height: 28px;
}

.filters 
{
    width: 220px;
    margin-right: 20px;
    margin-left: 0;
}

.filter 
{
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    min-height: 500px;
}
.catalog 
{
    width: 700px; 
}

.catalog-columns 
{
    display: flex;
    justify-content: space-between;
    width: 940px;
}

.btn-show 
{
    border: 1px solid #e5e5e5;
    text-transform: uppercase;
    background-color: #ffff;
}

 .items 
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.item 
{
    border: 1px solid #e5e5e5;
    list-style: none;
    width: 218px;
    min-height: 317px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.item:nth-child(3n) 
{
    margin-right: 0;
}

.item-title a 
{
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

.btns 
{
    display: none;
}

.btns .btn-buy 
{
    background-color: #63a63e;
    border: none;
    border-bottom: 3px solid #367315;
    border-radius: 1px;
    color: #ffff;
    text-transform: uppercase;
    font-size: 14px;
}

.btns .btn-buy:hover 
{
    background-color: #5fbb2d;
}

.btns .btn-buy:focus
{
    background-color: #518534;
} 

.btns .btn-bookmarks 
{
    background-color: #ffff;
    border: 3px solid #63a63e;
    border-radius: 1px;
    text-transform: uppercase;
    color: #32425c;
    font-size: 14px;
}

.btns .btn-bookmarks:hover 
{
    border: 3px solid #32425c;
}

.btns .btn-bookmarks:focus 
{
    opacity: 0.5;
}

.item:hover img 
{
    display: none;
}

.item:hover .btns 
{
    display: block;
}

 .price-line-through 
 {
    text-decoration: line-through;
    color: #999999;
 }

 .btn-price 
 {
    background-color: #ee3643;
    border: none;
    color: #ffff;
 }

 .popup-add-to-basket 
 {
    display: none;
 }