body 
{
    margin: 0;
    padding: 0;

    font-family: 'Cuprum', 'Segoe UI', 'Helvetica', sans-serif;
    font-size: 17px;
    line-height: 24px;

    background-color: #ffffff;
}

a 
{
    text-decoration: none;
}

img 
{
  max-width: 100%;
  height: auto;
}

.visually-hidden 
{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.main-header 
{
    background-color: #293449;
    margin-bottom: 60px;
}

.header-logo 
{
    background-color: #ee3643;
    width: 220px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo:before 
{
    content: "";
    width: 220px;
    height: 5px;
    position: absolute;
    top: 42px;
    background-color: #b52933;
}

.header-logo:hover 
{
    background-color: #ca2c37;
}

.header-logo:hover:before
{
    background-color: #9a212a;
}

.header-logo:focus 
{
background-color: #8e1e26;
}

.top-header 
 {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
 }

.top-header a 
{
    color: #ffffff;
}
.search 
{
    position: relative;
}

.search input 
{
    background-color: inherit;
    border: none;
    color: #ffff;
    width: 270px;
    height: 42px;
    margin-left: 0px;
    padding-left: 50px;
}

.btn-search 
{
    padding: 0;
    position: absolute;
    top: 12px;
    left: 17px;
    background-color: transparent;
    border: none;
    opacity: 0.3;
} 


.search input::placeholder 
{
    color: #ffffff;
}

.search input:hover 
{
    background-color: #212a3a;
}


.search input:focus 
{
    background-color: #ffffff;
    color: #262626;
}

.search .btn-search:hover
{
    opacity: 1;
}

.search input:focus ~ .btn-search .search-icon,
.search input:active ~ .btn-search .search-icon
{
    fill: #ee3643;
}

.search input:focus ~ .btn-search,
.search input:active ~ .btn-search 
{
    opacity: 1;
}

.header-items 
 {  
    display: flex;
    width: 300px;
    height: 42px;
 }

 .header-item-active
 {
    background-color: #ee3643;
 }


 .header-items .header-item-link
 {
    position: relative;
    white-space: pre;
    padding: 14px 30px;
    padding-left: 45px;
    color: #e0e1e3;
    text-align: center;
    line-height: 18px;
 }

 .header-items .header-item-link::before 
 {
    content: "";
    height: 16px;
    width: 14px;
    background-image: url("../img/icon-bookmark.svg");
    position: absolute;
    left: 20px;
    top: 14px;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: 0 0;
 }


 .header-items .header-item-link:last-child::before 
 {
    background-image: url("../img/icon-cart.svg");
    height: 15px;
    width: 15px;
 }
 
.header-item-link:hover::before,
.header-item-link:focus::before,
.header-item-link:active::before 
{
  opacity: 1;
}

.header-items .header-item-link:hover 
{
    background-color: #212a3a;
} 


.header-items .header-item-link:active 
{
    background-color: #161d29;
    opacity: 0.5;
}

.header-items .header-item-active:hover
 {
    background-color: #ca2c37;
 }

 .header-items .header-item-active:active 
 {
    background-color: #ba2732;
 }

.btn-checkout 
{
    background-color: #63a63e;
    padding: 9px 20px;
}

.btn-checkout:hover 
{
    background-color: #5fbb2d;
}

.btn-checkout:active 
{
    background-color: #518534;
}

.header-btn 
 {
    margin: 0;
    margin-right: -25px;
    margin-top: 10px;
 }

.header-btn a
{
    background-color: #ffffff;
    color: #000000;
    font-size: 21px;
    text-align: center;
}

.header-btn .sign-in 
 {
    padding: 10px 27px;
    padding-left: 48px;
    position: relative;
 }

.sign-in .img-sign-in
 {
    height: 17px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    left: 14px;
    top: 14px;
 }

 .sign-in:hover .img-sign-in
 {
    fill: #32425c;
 }

 .sign-in:active .img-sign-in
 {
    fill: #c5c5c5;
 } 

 

.header-btn .sign-up 
 {
    padding: 10px 27px;
    margin-left: 10px;
 }

.header-btn a:hover
{
    color: #ee3643;
}

.header-btn a:focus
{
    color: #dadada;
}

.middle-header 
{
    background-color: #f3f7f8;
    min-height: 280px;
}

.header-information-wrapper 
{
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
    padding-top: 46px;
}

.header-information 
{
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    width: 200px;
    margin: 0;
   
}

.header-information-items
{
    width: 270px;
    margin-left: 72px;
    margin-right: 70px;
}

.phone-number 
{
    border: 3px solid #ffffff;
    font-size: 21px;
    width: 265px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-number::before 
{
    content: "";
    width: 18px;
    height: 19px;
    position: absolute;
    top: 10px;
    left: 13px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
} 

.address 
{
    color: #32425c;
    font-size: 14px;
    margin: 0;
    margin-top: 2px;
    text-align: center;
}



.middle-header li
{
    list-style: none;
}

.navigation 
 {
    margin: 0 auto;
    margin-bottom: 60px;
    border-bottom: 5px solid #293449;
    width: 940px;
    background-color: #32425c;
 }

 .site-navigation 
 {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
 }


.site-navigation a 
{
    display: block;
    padding: 15px 31px;
    color: #ffffff;
    margin: 0; 
}

.site-navigation a:hover 
{
    background-color: #293449;
}

.site-navigation a:active 
{
    background-color: #1d2739;
    color: rgba(168, 171, 175, 0.5);
}  



.container 
 {
    display: flex;
    justify-content: center;
 }

 .offers 
 {
    color: #ffffff;
 }

 .materials 
 {
    background-color: #ffbf47;
 }

 .tool 
 {
    background-color: #3bbce3;
 }

 .equipment 
 {
    background-color: #dc91d8;
 }

 .sale 
 {
    background-color: #8ed78f;
 }

 .delivery 
 {
    background-color: #ffc047;
 }

 .link-offers 
 {
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.1;
 }

.link-offers:hover 
 {
    opacity: 0.2;
 }

.link-offers:active  
{
    opacity: 0.3;
}

.title-offers 
{
    font-size: 24px;
    line-height: 30px;
}

.title-slider 
{
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.text-slider 
{
    font-size: 18px;
    line-height: 24px;
}

.link-slider 
{
    background-color: #ee3643;
    color: #ffffff;
    text-transform: uppercase;
}

.link-slider:hover 
{
    background-color: #ca2c37;
}

.link-slider:active 
{
    background-color: #ba2732;
}

.popular-title-wrapper 
{
    background-color: #f9f5f0;
    text-transform: uppercase;
    white-space: pre;
}

.link-popular 
{
    background-color: #ee3643;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.popular-manufacturer
{
    border: 1px solid #eaeaea;
}

.popular-manufacturer:hover 
{
   
}

.popular-manufacturer:active 
{
    
}

.popular-manufacturer:active img 
{
    opacity: 0.3;
}


.title-popular 
{
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
}

.service 
{
    background-color: #f4f7f9;
} 

.service-title 
{
    font-size: 30px;
    line-height: 30px;
}

.service-text 
{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.btn-service 
{
    background-color: #32425c;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}

.btn-service:hover  
{
    background-color: #293449;
}

.btn-service:active 
{
    background-color: #ffffff;
    color: #32425c;
}

.service-caption 
{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
}

.service-text 
{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.btn-send-request 
{
    color: #ffffff;
    background-color: #ff5357;
    border: none;
    border-radius: 3px;
}

.btn-send-request:hover  
{
    background-color: #ca2c37;
}

.btn-send-request:active 
{
    background-color: #ba2732;
}

 .main-wrapper  
 {
    width: 940px;
    margin: 0 auto;
 }

 .information-about-company 
 {
    width: 520px;
    margin-right: 122px;
 }

 .main-contacts 
 {
    width: 300px;
 }

 .breadcrumbs 
 {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
 }

 

 .btn-about-company 
{
    padding: 9px 25px;
}

.btn-write-us 
{
   white-space: pre;
   padding: 9px 42px;
}

.title-company 
{
    font-size: 30px;
    margin-bottom: 38px;
    text-transform: uppercase;
}

.title-contact 
{
    font-size: 30px;
    margin-bottom: 38px;
    text-transform: uppercase;
    line-height: 30px;
}

.text-wrapper 
{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    margin: 0;
}

.text-wrapper .text-about-company:first-child 
{
    margin-bottom: 37px;
}

.text-wrapper .text-about-company:last-child 
{
    margin-bottom: 30px;
}


.lists-delivery 
{
    font-size: 18px;
    list-style: none;
    position: relative;
    margin-bottom: 40px;
}
.lists-delivery li 
{
    position: relative;
    margin-bottom: 16px;
}

.lists-delivery li::before 
{
    content: "";
    height: 2px;
    width: 25px;
    background-color: #ee3643;
    position: absolute;
    left: -35px;
    top: 10px;
}



.text-about-map 
{
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 37px;
}
.img-map 
{
    margin-bottom: 45px;
}



.btn-inf 
{
    background-color: #ee3643;
    color: #ffffff;
    border-radius: 2px;
    border: none;
    text-transform: uppercase;
}
.btn-inf:hover 
{
    background-color: #ca2c37;
}

.btn-inf:focus 
{
    background-color: #ba2732;
}

.main-footer 
{
    background-color: #32425c;
    color: #ffffff;
    margin-top: 85px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-wrapper 
{
    display: flex;
    flex-direction: column;
    margin-right: 65px;
}

.footer-logo 
{
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
    height: 63px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.bottom-footer 
{
    background-color: #293449;
    min-height: 110px;
    display: flex;
    justify-content: center;
}

.rights 
{
    margin-right: 120px;
    margin-top: 38px;
}


.main-footer li 
{
    list-style: none;
}

.top-footer 
{
    min-height: 190px;
    display: flex;
    justify-content: center;
}

.lists-wrapper 
{
    display: flex;
    flex-direction: column;
    width: 550px;
}

.lists-wrapper ul 
{
    padding: 0;
}


.information-lists 
{
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
    margin-top: 42px;
}

.information-lists a
{
    margin-right: 60px;
}

.information-lists .contact-link 
{
    margin-right: 0;
}

.catalog-lists .special-offers-link 
{
    margin-right: 0;
}

.catalog-lists a 
{
  margin-right: 60px;
}

.catalog-lists 
{
    display: flex;
    justify-content: flex-end; 
}

.lists-wrapper .catalog-lists a,
.connection-link 
{
    color: #ffd180;
}

.top-footer a
{
    color: #ffffff;
}

.top-footer a:focus 
{
    color: #a4abb4;
    text-decoration: none;
}

.soc-net
{
    margin-right: 120px;
    margin-top: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 130px;
    padding: 0;
    cursor: pointer;
}

.soc-net .social-list 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212a3a;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #ffffff;
    position: relative;
}

.social-list:first-child .social-link
{
    background-image: url("../img/icon-vk.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 26px;
    height: 15px;
}

.social-list:nth-child(2) .social-link
{
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 12px;
    height: 22px;
}

.social-list:last-child .social-link 
{
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 21px;
    height: 21px;
}



.email-address 
{
    margin-right: 50px;
    margin-top: 38px;
}

.developer 
{
    margin-top: 38px;
    margin-right: 30px;
}




.soc-net .social-list:hover,
.soc-net .social-list:focus,
.soc-net .social-list:active 
{
    background-color: #ee3643;
}





footer a:hover 
{
    text-decoration: underline;
}

.catalog-lists a:focus 
{
    color: #99866b;
    text-decoration: none;
}
.connection-link:focus  
{
    color: #ee3643;
}

.popup-map 
{
    display: none;
    position: fixed;
    top: 40px;
    left: 50%;
    margin-left: -470px;
}

.popup-map img 
{
    box-shadow: 0 7px 40px 3px #000000;
}

.popup-map .close-popup-map 
{
    position: absolute;
    top: 9px;
    right: 9px;
    border: none;
    background: none;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 21px;
    height: 21px;
}

.popup-write-us
{
    display: none;
    background-color: #ffffff;
    width: 620px;
    height: 423px;
    border-top: 7px solid #ff5257;
    box-shadow: 0 7px 10px 3px #000000;
    position: absolute;
    top: 565px;
    left: 50%;
    margin-left: -310px;
}


.popup-write-us .form-popup-write-us 
{
    display: flex;
    flex-direction: column;
}

.form-popup-write-us  .popup-wrapper 
{
    display: flex;
    justify-content: center;
    margin-top: 26px;
    margin-bottom: -17px;
}

.form-popup-write-us .wrapper-input-text 
{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.popup-wrapper .popup-information-wrapper:first-child 
{
    margin-right: 20px;
}

.form-popup-write-us label
{
    font-size: 18px;
    margin-bottom: 6px;
}

.form-popup-write-us input 
{
    width: 200px;
    height: 34px;
    padding-left: 14px;
}

.popup-information-wrapper 
{
    display: flex;
    flex-direction: column;
}

.popup-information-wrapper input 
{
    border-radius: 3px;
    border: 2px solid #dee3e4;
}

.popup-information-wrapper  .input-popup-text 
{
    width: 442px;
    padding-left: 14px;
    padding-top: 12px;
    padding-bottom: 47px;
}

.popup-information-wrapper  .input-popup-text::placeholder 
{
    font-size: 13px;
} 



.popup-write-us .close-popup-write-us 
{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 21px;
    height: 21px;
    margin-top: 9px;
    margin-right: 9px;
}

.popup-btn-wrapper 
{
    height: 112px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-btn-wrapper .popup-btn 
{
    background-color: #ee3643;
    border: none;
    border-radius: 3px;
    width: 460px;
    height: 38px;
    color: #ffffff;
}


.middle-header .name 
{
    color: #000000;
    font-size: 21px;
    background-color: #ffffff;
    width: 300px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.register 
{
    position: relative;
}

.register .name::before
{
    content: "";
    width: 20px;
    height: 18px;
    position: absolute;
    left: 13px;
    top: 12px;
    background-image: url("../img/icon-user.svg");
}

.name .btn-exit
{
    width: 20px;
    height: 17px;
    position: absolute;
    right: 13px;
    top: 12px;
    background: none;
    background-image: url("../img/icon-logout.svg");
    border: none;
    cursor: pointer;
}



.register .my-order,
.register .personal-area 
{
    text-decoration: underline;
    color: #afb0b0;
    font-size: 16px;
    position: absolute;
    top: 50px;
}

.register .my-order 
{
    left: 17px;
}

.register .my-order:after 
{
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #32425c;
    position: absolute;
    top: 10px;
    left: 90px;
}

.register .personal-area 
{
    left: 125px;
}

.register .my-order:hover,
.register .personal-area:hover
{
    color: #ee3643;
}

.register .my-order:focus,
.register .personal-area:focus 
{
    color: #c5cad0;
}

.breadcrumbs 
{
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.breadcrumbs li 
{
    list-style: none;
    position: relative;
}

.breadcrumbs li:after 
{
    content: "";
    width: 7px;
    height: 12px;
    background-image: url("../img/icon-right-small.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 6px;
    left: 30px;
}

.breadcrumbs li:nth-child(2):after 
{
    left: 65px;
}

.breadcrumbs li:nth-child(3):after 
{
    left: 95px;
}

.breadcrumbs li:last-child:after
{
    display: none;
} 
.breadcrumbs a 
{
    color: #000000;
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    margin-right: 40px;
}

.title-wrapper 
{
    background-color: #f2f6f8;
    padding: 13px 30px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.main-title 
{
    color: #32425c;
    text-transform: uppercase;
    font-size: 30px;
}
.filter 
{
    position: relative;
    width: 220px;
}



.filter fieldset 
{
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
    border-top: 1px solid #e5e5e5;
}

.filter fieldset:first-child 
{
    border: none;
}



.filter h3 
{
    color: #000000;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 27px;
}



.filter ul 
{
   list-style: none;
   line-height: 28px;
   margin: 0;
   padding: 0;
}

.filters 
{
    width: 220px;
    margin-right: 20px;
    margin-left: 0;
}

.filter 
{
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    min-height: 500px;
}

.filter-option 
{
  margin-bottom: 15px;
  padding-left: 35px;
}

.filter-option label 
{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before 
{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    height: 23px;
    width: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0; 
    opacity: 0.8
}

.filter-input-checkbox + label:hover::before 
{
    opacity: 1;
} 




.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 27px;
  height: 17px;
  background: #ffffff;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-checkbox:checked + label:hover::after 
{
    opacity: 1;
} 





.filter-input-radio + label::before 
{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    height: 25px;
    width: 25px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0; 
    opacity: 0.8;
}

.filter-input-radio + label:hover::before 
{
    opacity: 1;
} 


.filter-input-radio:checked + label::after 
{
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 25px;
  height: 17px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-radio:checked + label:hover::after 
{
    opacity: 1;
} 

.catalog 
{
    width: 700px; 
}

.sort 
{
    background-color: #f7f3ec;
}

.title-sort 
{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

.sort-lists 
{
    list-style: none;
}

.sort-link 
{
    color: #000000;
    opacity: 0.3;
    border-bottom: 1px dotted #ee3643;
}

.sort-link:hover 
{
    opacity: 1;
    border-bottom: 1px solid #ee3643;
}

.sort-link:active 
{
    color: #f7a1a7;
    border: none;
}

.catalog-columns 
{
    display: flex;
    justify-content: space-between;
    width: 940px;
}

.title-filter 
{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-color: #f7f3ec;
    text-transform: uppercase;
}

.title-price 
{
    font-size: 17px;
    line-height: 30px;
}

.price-range 
{
    border-radius: 3px;
    background-color: #f7f3ec;
}

.price-range .line 
{
    background-color: #00ca74;
    height: 2px;
    width: 180px;
}

.price-range .control
{
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    border-bottom: 2px solid #e0ddd8;
    position: relative;
}

.price-range .control:before 
{
    content: '';
    background-color: #ababab;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 6px; 
    left: 8px;
}

.input-price 
{
    background-color: #f7f3ec;
    border: none;
    border-radius: 3px;
}


.btn-show 
{
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 10px 38px;
    margin-top: 20px;
    font-size: 13px;
}

 .items 
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.item 
{
    border: 1px solid #e5e5e5;
    list-style: none;
    width: 218px;
    min-height: 317px;
    margin-bottom: 20px;
    margin-right: 20px;
    line-height: 20px;
    text-align: center;
    position: relative;
}

.item:hover 
{
    border: 1px solid #ffffff;
    box-shadow: 0 1px 20px 0 #000000;
}

.item .flag-new 
{
    background-image: url("../img/new-flag.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.item .flag 
{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.item img 
{
    max-width: 100%;
}

.item .item-title 
{
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;   
}

.item-title a 
{
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

.item:nth-child(3n) 
{
    margin-right: 0;
}



.btns 
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}



.btns .btn-buy 
{
    display: block;
    width: 129px;
    margin: 0 auto;
    background-color: #63a63e;
    border: none;
    border-bottom: 3px solid #367315;
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 7px;
    padding: 7px 0;
    line-height: 18px;
    font-size: 14px;
    position: relative;
}

.btns .btn-buy:before 
{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 12px;
    top: 7px;
}

.btns .btn-buy:hover 
{
    background-color: #5fbb2d;
}

.btns .btn-buy:active
{
    background-color: #518534;
} 

.btns .btn-bookmarks 
{
    display: block;
    width: 129px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 3px solid #63a63e;
    border-radius: 3px;
    text-transform: uppercase;
    color: #32425c;
    font-size: 14px;
    padding: 7px 0;
    line-height: 18px;
    font-size: 14px;
}

.btns .btn-bookmarks:hover 
{
    border: 3px solid #32425c;
}

.btns .btn-bookmarks:active 
{
    opacity: 0.5;
}

.item:hover .btns 
{
    display: block;
}

 .price-line-through 
 {
    text-decoration: line-through;
    color: #999999;
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
 }

 .btn-price 
 {
    background-color: #ee3643;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
 }

 .item .btn-price:after 
 {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color: #ee3643;
 }

 .pagination .pagination-link
 {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #000000;
 }

 .pagination .pagination-link:first-child 
 {
    background-color: #ee3643;
    color: #ffffff;
 }

 .pagination .pagination-link:hover 
 {
    border: 1px solid #bdc6ca;
 }

 .pagination .pagination-link:active 
 {
    border: 1px solid #ee3643;
 }

 .about-hammer-drill 
 {
    background-color: #f2f6f8;
    color: #99999a;
 }

 .title-about-hammer-drill 
 {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
 }

 .text-about-hammer-drill 
 {
    font-size: 13px;
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
 }

 .popup-add-to-basket 
 {
    display: none;
    border-top: 7px solid #ee3643;
    width: 620px;
    height: 275px;
    position: fixed;
    top: 150px;
    left: 50%;
    margin-left: -310px;
    box-shadow: 0 7px 50px 3px #000000;
    background-color: #ffffff;
    z-index: 1000;
 }



.popup-add-to-basket .close-popup-basket 
{
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: none;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 21px;
    height: 21px;
    margin-top: 9px;
    margin-right: 9px;
}

.popup-add-to-basket  .popup-text 
{
    font-size: 30px;
    text-align: center;
    margin-top: 67px;
    margin-bottom: 75px;
    margin-left: 53px;
}

.popup-add-to-basket .popup-text::before
{
    content: "";
    width: 66px;
    height: 66px;
    position: absolute;
    left: 80px;
    top: 48px;
    background-image: url("../img/form-1.svg");
}

.popup-wrapper-basket 
{
    background-color: #f1f1f1;
    height: 72px;
    padding-top: 37px;
    display: flex;
    justify-content: center;
}

.popup-checkout-btn 
{
    height: 38px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 20px;
}

.popup-btn-continue 
{
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
    width: 220px;
    height: 38px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
}

